<h2>about $elector</h2>

<div class="about-wrapper">

    <section class="about-section"> 
        <p class="about-text">
        $elector is an online platform for music lovers to discover new tracks and artists, connect with their music community, and support the artists they love. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis tempore autem eos, earum impedit deleniti rem rerum. Aut ab nesciunt ea asperiores, odio molestiae, architecto dignissimos quos, fuga quod iure!
        </p>
        <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit autem dolor illum iusto enim nemo pariatur soluta corporis? Magni rem quibusdam commodi quia a totam numquam recusandae accusamus ipsa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, iure fugit nostrum ut reiciendis rerum dolorum omnis exercitationem impedit repellat sunt in quos. Quibusdam tempora consequuntur ut quas veniam incidunt.
        </p>
    </section>
</div>