

<a href="/tracks/new">share a track</a>

<% tracks.each do |track| %>
    <h2>
        <a href="/tracks/<%= track["id"] %>"> 
            <%= track["track_name"] %>
        </a>
        <p><%= track["id"] %></p>
    </h2>

    <img src="<%= track["track_img"]%>" alt="image" class="feed-track-img">

<% end %>