<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buskr</title>

  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header class="main-header">
    <div class="header-top-row">
      <h1 class="header-logo">
        <a href="/"> 
          buskr
        </a>
      </h1>
    </div>

    <div class="header-bottom-row">
      <nav>
        <ul class="nav-list">

          <li class="nav-item">
            <a href="/tracks" class="nav-link">all tracks</a>
          </li>

          <li class="nav-item">
            <a href="/tracks/new" class="nav-link">share music</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">about</a>
          </li>

        </ul>
      </nav>

      <div class="login-status">
        <% if logged_in? %> 
        <p> 
          logged in as <a href="/users/<%= session[:user_id] %>"><%= current_user['user_name'] %></a>.
        </p> 
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="login-button">logout</button>
          </form>

        <% else %>
        
          <form action="/login">
            
            <button class="login-button">login</button>
          </form>
          
        <% end %>
      </div>
    </div>
  </header>

  <div class="page-content">
    <%= yield %>
  </div>
  

  <script src="/javascripts/application.js"></script>
</body>
</html>
