<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$electa</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>$electa</h1>
   <% if logged_in? %> 
    
    logged in as <%= current_user['email'] %>

    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>

  <% else %>
  
    <form action="/login">
      
      <button>login</button>
    </form>
    
  <% end %>

  <%= yield %>

</body>
</html>
