<h2>login</h2>

<form action="/session" method="post">

    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password" id="">

    <button>submit</button>
    <div class="invalid-login">
        <%= invalid_login %>
    </div>

</form>