<h2>create account</h2>

<div class="new-user-wrapper">
    <form action="/users" method="post" class="new-user-form"> 

        <!-- user inputs -->
        <div class="input-wrap">
            <label for="user_name">username:</label>
            <input type="text" name="user_name" class="normal-input">
        </div>

        <div class="input-wrap">
            <label for="email">email:</label>
            <input type="text" name="email" class="normal-input"> 
        </div>

        <div class="input-wrap">
            <label for="password">password:</label>
         <input type="password" name="password" class="normal-input">
        </div>

        <!-- hidden inputs -->
        <input type="hidden" name="user_img" value="https://res.cloudinary.com/ryanhunterdev/image/upload/v1623216712/blank-profile-picture-973460_960_720_cdrnvy.webp">

        <div class="button-container">
            <button class="share-track-btn">sign up</button>
        </div>
        
    </form>
</div>