<h2>create account</h2>

<form action="/users" method="post"> 

    <!-- user inputs -->
    <label for="user_name">username:</label>
    <input type="text" name="user_name">

    <label for="email">email:</label>
    <input type="text" name="email"> 

    <label for="password">password:</label>
    <input type="password" name="password">

    <!-- hidden inputs -->
    <input type="hidden" name="user_img" value="https://res.cloudinary.com/ryanhunterdev/image/upload/v1623216712/blank-profile-picture-973460_960_720_cdrnvy.webp">

    <button>sign up</button>

</form>