/************************

index

************************/

.index-wrapper {
    display: grid;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

.index-tracks-feed {
    border-right: var(--setup-border);
}

.index-feed-heading, .all-tracks-heading {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.index-feed-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.index-tracks-container {
    display: flex;
    /* border: var(--setup-border); */
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    transition: .3s;
}

.index-tracks-container:hover {
    transform: scale(1.1);
    transition: .3s;
}

.tracks-image-container {
    width: 80%;
    border-top: var(--setup-border);
    border-right: var(--setup-border);
    border-left: var(--setup-border);
}

.feed-track-img {
    width: 100%;
    border-bottom: var(--setup-border);
}

.tracks-info-container {
    width: 80%;
    border-bottom: var(--setup-border);
    border-right: var(--setup-border);
    border-left: var(--setup-border);
    font-size: 1.5rem;
    padding: .5rem;
}

.welcome-column {
    text-align: center;
    overflow: hidden;
    order: 1;
}

.welcome-heading {
    font-size: 3rem;
    padding: 2rem;
}

.welcome-text {
    font-size: 1.5rem;
    padding: 2rem 5rem;
}

@media (max-width: 900px) {
    .index-wrapper {
        display: grid;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto 1.5fr;
    }

    .welcome-column {
        order: 0;
        border-bottom: var(--setup-border);
    }

    .welcome-heading {
        padding: 1rem;
    }

    .welcome-text {
        font-size: 1.3rem;
        padding: 1rem 2.5rem;
    }
    
    .index-tracks-feed {
        order: 1;
    }
}

@media (max-width: 500px) {
    .welcome-column {
        display: none;
    }
}