/************************

universal

*************************/

html,body,div,p,
h1,h2,h3,h4,h5,h6,
ul,ol,li,
dl,dt,dd,
form,fieldset,caption,
table,tr,td,th,
address,blockquote,img {
	margin:0;
	padding:0;
}

img, fieldset {
	border:none;
}

*, *:after, *:before {
	box-sizing:border-box;
}

hr {
	display:none;
}

/* disables scrolling on the body
 html, body {
	height:100%;
	overflow:hidden;
} */

body, button, input, table, textarea, select {
	font:normal 1em/1.5 "segoe UI",helvetica,sans-serif;
}

h2, h3, h4, h5, h6 {
	line-height:1.25;
}

/************************

main

************************/


.feed-track-img {
    width: 20vw;
}

.track-img {
    width: 20vw;
}

.user-img {
    width: 20vw;
}

.user-track-img {
    width: 15vw;
}

.delete-modal {
    position: absolute;
    width: 300px;
    height: 250px;
    z-index: 1;
    display: grid;
    place-items: center;
    display: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: 1s ease;
}

.reveal-modal {
    display: grid;
    transition: 1s ease;
}