/************************

show track page

************************/

.track-header {
    text-align: center;
    padding: 2rem;
}

.track-header > h2 {
    font-size: 3rem;
}

.track-page-wrapper {
    padding: 0 5rem;
    font-size: 1.5rem;
}

.track-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1050px;
    gap: 3%;
    padding: 3rem;
}

.track-interactive-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-img {
    width: 100%;
}

.audio-controls, .track-edit-delete {
    width: 100%;
    margin-top: 1rem;
}

.track-edit-delete {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.track-information-column {
    display: grid;
    grid-template-rows: 1fr .5fr;
    gap: 2rem;

}

/* track info regular page
 .track-info {
    background-color: var(--subtle-grey);
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
} */

/* track info revised */
.track-info {
    background-color: var(--subtle-grey);
    display: grid;
    grid-template-rows: auto 3fr;
    border: var(--setup-border);
}

.track-title-artist {
    display: flex;
    border-bottom: var(--setup-border);
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem;
}

.track-info-heading {
    font-weight: bold;
    padding: 1rem;
}

.track-info-text {
    padding: 1rem;
}

.track-description {
    display: flex;
    flex-direction: column;
}

.track-tips {
    background-color: var(--subtle-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: var(--setup-border);
    padding-bottom: 1rem;
}

.leave-tip-section {
    display: flex;
    justify-content: center;
}

.tip-input {
    text-align: center;
    width: 100%;
    margin: 0.5rem;
    float: right;
}

.tip-btn {
  display: block;
}

.user-tip-section {
    display: flex;
    flex-direction: column;
}

.tip-container {
    padding: 1rem;
}

.tip-anchor, .tip-comment {
    font-weight: 600;
    transition: .3s;
}

.publisher-heading {
    transition: .3s;
}

.tip-anchor:hover,
.publisher-heading:hover {
    color: var(--hover-text);
    transition: .3s;
}


@media (max-width: 850px) {
    .track-page-wrapper {
        padding: 0;
    }

    .track-grid {
        display: grid;
        grid-template-columns: none;
        margin: 0 auto;
        max-width: 500px;
        gap: 2%;
    }

    .track-tips, .track-info {
        padding: 2rem;
    }

    .track-header > h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    .track-page-wrapper {
        font-size: 1.3rem;
    }
    
}